NODE_ENV=development
PORT=3333
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/attivo_saas?schema=public
JWT_SECRET=troque-esta-chave
CORS_ORIGIN=http://localhost:3000
MASTER_ADMIN_NAME=Administrador ATTIVO
MASTER_ADMIN_EMAIL=admin@attivo.local
MASTER_ADMIN_PASSWORD=Attivo@123456
MASTER_ADMIN_DOCUMENT=12345678909
